rules_version = '2';
service firebase.storage {
  match /b/projectid.appspot.com/o {
    function owns(resource) { return resource.metadata.profileId == request.auth.uid; }

    match /profiles/{profileId}/{type} {
      allow read;
      allow write: if owns(request.resource) && request.auth.uid == profileId && type == "original";
    }
  }
}
